node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.env
.gitignore
*.gif
src/api/marvelApi.js
run/.expo/settings.json
.vscode/launch.json
